<nav class='navbar navbar-expand-sm navbar-light bg-light justify-content-between px-5'>
  <span class='navbar-brand display-1' style='font-size: 2.2rem;'>
    <%=header %>
  </span>
  <ul class='navbar-nav ml-4 pl-5' style='font-size: 1.3rem;'>
    <li class='navi-item'><a class='nav-link' href='/'>Home</a></li>
    <li class='navi-item'><a class='nav-link' href='/users'>Users</a></li>
    <li class='navi-item'><a class='nav-link' href='/schedules'>Schedules</a></li>
  </ul>
</nav>