<div class='card-header'>
  <%=firstname %>
  <%=lastname %>
</div>
<div class='card-body'>
  <table class='table table-hover'>
    <tbody>
      <%- include('./user-info-main.ejs'); %>
    </tbody>
  </table>
</div>