<div class='card w-100 m-4'>
  <h2 class='card-header'>Add <%-typeAdded%></h2>
  <div class='container d-flex flex-wrap justify-content-center w-100'>
    <p class='card-text w-100 m-3 h-3 text-center'><%-typeAdded%> added successfully!</p>
    <a class='link-dark w-100 m-3 text-center' href='/<%-linkParam%>'>
      Go back to all <%-linkParam%>
    </a>
  </div>
</div>