<% const daysOfWeek=[' ', 'Monday', 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' , 'Saturday' , 'Sunday'] %>
<h2 class='d-flex justify-content-center' style='font-size: 1rem; height: 1.5rem;'>
  <%- daysOfWeek[day].substring(0,3) %>
</h2>