<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs', {pageTitle: 'Error'}); -%>
  <style>
    .error-container {
      font-size: 2rem;
    }
  </style>
</head>

<body>
  <%- include('../partials/menu.ejs', {header: 'An error has occurred.'}); -%>
  <div class="error-container d-flex justify-content-center m-5">
    <%-message%>
  </div>
</body>

</html>