<!DOCTYPE html>
<html lang='en'>
<head>
    <%- include('../partials/head.ejs', {pageTitle: 'Shift Planner'}); -%>
</head>
<body>
    <%- include('../partials/menu.ejs', {header: 'Shift management'}); -%>
    <%- include('../partials/success.ejs', {typeAdded: 'shift', linkParam: 'schedules'}); -%>
</div>
</body>
</html>