<!DOCTYPE html>
<html lang='en'>

<head>
  <%- include('../partials/head.ejs', {pageTitle: 'Shift Planner: Users'}); -%>
</head>

<body>
  <%- include('../partials/menu.ejs', {header: 'Our Staff' }); -%>
  <%- include('../partials/success.ejs', {typeAdded: 'user', linkParam: 'users'}); -%>
</body>

</html>